<script setup lang="ts">
import { ref } from "vue";
import debounce from "debounce";

const price = ref(0);
const qty = ref(0);
const amount = ref(0);
const lastChange = ref([]); //last [0]
const inputType = ["Price", "Qty", "Amount"];
const logs = ref([]);
const dataLS = ref(localStorage.CtrlHack_data);

function setInput(event) {
  const changedIndex = lastChange.value.indexOf(event.target.id);

  if (changedIndex !== -1) lastChange.value.splice(changedIndex, 1);
  lastChange.value.push(event.target.id);

  debounce(calculate, 300)();
  addLog("input", event.target.id);
}

function calculate() {
  if (lastChange.value.length >= 2) {
    setDefaultLastChange();
    switch (lastChange.value[0]) {
      case "Price":
        calculatePrice();
        break;
      case "Qty":
        calculateQty();
        break;
      case "Amount":
        calculateAmount();
        break;
    }
  }
}

function calculatePrice() {
  price.value = amount.value / qty.value;
}
function calculateQty() {
  qty.value = amount.value / price.value;
}
function calculateAmount() {
  amount.value = price.value * qty.value;
}

function addLog(type, data) {
  if (type === "input") {
    logs.value.unshift(`Поле ${data} было изменено`);
  } else if (type === "button") {
    logs.value.unshift(`Нажата кнопка`);
  } else if (type === "status") {
    logs.value.unshift(data);
  }
}

function setDefaultLastChange() {
  if (lastChange.value.length === 2) {
    inputType.forEach((elem) => {
      if (!lastChange.value.includes(elem)) {
        lastChange.value.unshift(elem);
      }
    });
  }
}

function setLocalStorage() {
  setTimeout(() => {
    if (amount.value % 2 == 0) {
      dataLS.value = JSON.stringify({
        nonce: logs.value.length,
        price: price.value,
        qty: qty.value,
        amount: amount.value,
      });
      localStorage.CtrlHack_data = dataLS.value;
      addLog("status", { success: true });
    } else {
      addLog("status", { success: false });
    }
  }, 1000);
  addLog("button", "");
}
</script>

<template>
  <div class="wrapper">
    <div class="interfaces wrapper__grid">
      <input
        type="number"
        placeholder="Цена"
        v-model.number="price"
        id="Price"
        @input="setInput"
      />
      <input
        type="number"
        placeholder="Кол-во"
        v-model.number="qty"
        id="Qty"
        @input="setInput"
      />
      <input
        type="number"
        placeholder="Сумма"
        v-model.number="amount"
        id="Amount"
        @input="setInput"
      />
      <button @click="setLocalStorage">Оnправить</button>
    </div>
    <div class="labels wrapper__grid">
      <div>{{ price }}</div>
      <div>{{ qty }}</div>
      <div>{{ amount }}</div>
      <div>{{ dataLS }}</div>
    </div>
    <div class="logs">
      <div v-for="(log, index) in logs" :key="index" class="logs__item">
        {{ Math.abs(index - logs.length + 1) }} - {{ log }}
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.wrapper {
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  padding: 50px 20px;
  border-radius: 5px;

  &__grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
}

.interfaces {
  input,
  button {
    margin: 10px;
    padding: 10px;
    background-color: #bde0fe;
    border: #e98074;
    border-radius: 5px;
    &:focus {
      outline: none;
    }
  }
}
.labels {
  padding: 15px 0;
  min-height: 70px;
  div {
    overflow-wrap: break-word;
    padding: 0 16px;
  }
}
.logs {
  width: 100%;
  min-height: 300px;
  // height: 100%;
  background-color: #a2d2ff;
  padding: 10px;
  border-radius: 5px;

  &__item {
    background-color: #bde0fe;
    margin: 10px 0;
    padding: 5px 15px;
    color: #000;
    font-weight: 700;
    border-radius: 5px;
  }
}
</style>
