@import "./base.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  background-color: #ffafcc ;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: 600;
}



