<script setup lang="ts">
import HelloWorld from "./components/HelloWorld.vue";
</script>

<template>
  <div id="app">
    <div class="wrapper">
      <Hello-world />
    </div>
  </div>
</template>

<style scoped></style>
